<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link"><i class="fas fa-home"></i> <span>Home</span></a>
    </li>
    <li class="nav-item">
        <a href=# class="nav-link"><i class="fas fa-chart-bar"></i> <span>Views</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="{% url 'sobre' %}" class="nav-link">Sobre</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contato' %}" class="nav-link"> Contato</a>
            </li>

             
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-users"></i> <span>Users</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">User List</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Add User</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"><i class="fas fa-cogs"></i> <span>Settings</span></a>
        <ul class="submenu nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">General</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Security</a>
            </li>
        </ul>
    </li>
</ul>